.header {
  font-weight: normal;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

p {
  margin: 0;
  margin-bottom: 0.5em;
}

.settings-group {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #D7D7DB;
}

.settings-group:last-child {
  border-bottom: none;
}

.label {
  width: 40%;
}

.aside {
  color: gray;
  margin-inline-start: 1em;
  font-size: 0.85em;
}

.remove-border {
  border-bottom: none;
}

.group-header {
  margin-top: 16px;
}

.setting {
  margin-right: 4px;
}

.assigned-domains {
  min-width: 150px;
}

input.invalid {
  border: 1px solid #ff0039;
}

#createGroup {
  float: right;
  margin: 8px 4px;
}

.control-button {
  -moz-appearance: none;
  background-color: #f9f9fa;
  min-height: 30px;
  border:  1px solid #d7d7db;
  border-radius: 2px;
  margin: 4px 8px;
  font-size: 1em;
}

.control-button:hover {
  background-color: #ebebeb;
}

.group-heading-container {
  display: flex;
  align-items: center;
}

.group-heading-container > .group-header {
  flex: 1;
}

.group {
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  border-radius: 2px;
  padding: 4px 16px;
  margin-bottom: 8px;
}
