.light-theme {
  --background-color: #ffffff;
  --primary-text-color: #0c0c0d;
  --secondary-text-color: #737373;

  /* search box colours */
  --search-border-normal: rgba(12, 12, 13, 0.3);
  --search-border-hover: #0a84ff;
  --search-border-focus: #0a84ff;
  --search-background: #ffffff;
  --search-placeholder: rgba(12, 12, 13, 0.7);
  --search-text: #0c0c0d;

  --control-button-hover: rgba(12, 12, 13, .1);

  --group-background: #ededf0;
  --group-hover-background: #d7d7db;
  --group-border: #b1b1b3;
}

.dark-theme {
  --background-color: #323234;
  --primary-text-color: #b1b1b3;
  --secondary-text-color: #737373;

  /* search box colours */
  --search-border-normal: #262627;
  --search-border-hover: #3399ff;
  --search-border-focus: #3399ff;
  --search-background: #474749;
  --search-placeholder: #b1b1b3;
  --search-text: #ffffff;

  --control-button-hover: #5b5b5d;

  --group-background: rgba(74, 74, 79, 0.6);
  --group-hover-background: rgba(74,74,79, 0.9);
  --group-border: #2a2a2e;
}

body {
  width: 310px;
  height: 90%;
  margin: 16px;
  overflow-x: hidden;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, Noto, "San Francisco", Ubuntu, "Segoe UI", "Fira Sans", message-box, Arial, sans-serif;

  /* https://bugzilla.mozilla.org/show_bug.cgi?id=1418677 */
  background-image: url("/icons/transparency_workaround.png");
}

#controls {
  margin-bottom: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.small-label {
  font-size: 13px;
}

#tab-info {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.truncate-text {
  mask-image: linear-gradient(to left, transparent, black 1em);
  white-space: nowrap;
  overflow: hidden;
}

.tab-title {
  flex: 1 0;
  font-size: 17px;
}

.tab-icon {
  width: 16px;
  height: 16px;
  margin: 0px 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

#checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

#always-open-label {
  font-size: 11px;
  color: var(--secondary-text-color);
}

.hidden {
  display: none !important;
}

/* search tab stuff */
#search-container {
  display: flex;
  align-items: center;
  background-color: var(--search-background);
  color: var(--search-text);
  border: 1px solid var(--search-border-normal);
  width: 90%;
  margin-right: 4px;
  height: 24px;
  padding: 4px;
}

#search-container:hover {
  border: 1px solid var(--search-border-hover);
}

#search-icon {
  background-image: url("/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.dark-theme #search-icon {
  filter: invert(75%);
}

#search {
  flex: 2;
  border: none;
  overflow: auto;
  -moz-appearance: none;
  background-color: var(--search-background);
  color: var(--search-text);
}

#search::placeholder {
  color: var(--search-placeholder);
}

#cancel-search-icon {
  background-image: url("/icons/close.svg#light");
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.dark-theme #cancel-search-icon {
  background-image: url("/icons/close.svg#dark") !important;
}

.control {
  flex: 0 20;
  min-height: 24px;
  min-width: 24px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
}

.control:hover {
  background-color: var(--control-button-hover) !important;
}

#new-group-button {
  background: url("/icons/new_group.svg#light") no-repeat center;
  background-size: contain;
}

.dark-theme #new-group-button {
  background-image: url("/icons/new_group.svg#dark") !important;
}

#settings-button {
  background: url("/icons/settings.svg#light") no-repeat center;
}

.dark-theme #settings-button {
  background-image: url("/icons/settings.svg#dark") !important;
}

.group {
  border-radius: 2px;
  background-color: var(--group-background);
  box-shadow: inset 0 0 0 1px var(--group-border);
  font-size: 15px;
}

.group.selected, .group:hover {
  background-color: var(--group-hover-background);
}

.group-name {
  padding: 4px 8px;
  margin-bottom: 4px;
}

.group-tab-count {
  float: right;
}

.tab {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding-bottom: 1px;
  max-height: 20px;
}

.group-badge {
  color: white;
  width: 16px;
  height: 16px;
  font-size: 13px;
  margin-right: 8px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--group-background);
  box-shadow: inset 0 0 0 1px var(--group-border);
  border-radius: 2px;
}

.tab-name {
  flex: 1 0;
  font-size: 13px;
}

.tab.selected, .tab:hover {
  box-shadow: inset 0 0 0 1px rgb(69, 161, 255);
}
