body {
  width: 310px;
  height: 90%;
  margin: 16px;
}

#controls {
  margin-bottom: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.small-label {
  font-size: 13px;
}

#tab-info {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.truncate-text {
  mask-image: linear-gradient(to left, transparent, black 1em);
  white-space: nowrap;
  overflow: hidden;
}

.tab-title {
  flex: 1 0;
  font-size: 17px;
}

.tab-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

#checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

#always-open-label {
  font-size: 11px;
  color: #737373;
}

.hidden {
  display: none !important;
}

/* search tab stuff */
#search-container {
  display: flex;
  align-items: center;
  -moz-appearance: textfield;
  width: 90%;
}

#search-icon {
  background-image: url("/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

#search {
  flex: 2;
  border: none;
  overflow: auto;
}

#cancel-search-icon {
  background-image: url("/icons/close.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.control {
  flex: 0 20;
  min-height: 24px;
  min-width: 24px;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 4px;
}

.control:hover {
  background-color: rgba(12, 12, 13, .1) !important;
}

#new-group-button {
  background: url("/icons/new_group.svg") no-repeat center;
}

#settings-button {
  background: url("/icons/settings.svg") no-repeat center;
}

.group-name {
  padding: 4px;
  border: 1px solid rgba(12, 12, 13, .3);
  background-color: rgba(12, 12, 13, .1);
  color: rgba(12, 12, 13, 1);
  margin-bottom: 4px;
}

.group-name:hover {
  background-color: rgba(12, 12, 13, .2);
}

.group-tab-count {
  float: right;
}

.tab {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding-left: 16px;
  padding-bottom: 1px;
}

.tab-name {
  flex: 1 0;
  font-size: 13px;
}

.tab:hover {
  box-shadow: inset 0 0 0 1px rgb(69, 161, 255);
}
